.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.nav {
  text-align: center;
  background-color: #3dc4fc;
  color: white;
  font-size: 3em;
  width: 100%;
}

.beerList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin: 0.5rem;
  width: 20rem;
  height: 2rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #f8f8f8;
  font-size: 1rem;
  padding: 0.5rem;
  color: #333;
}

button {
  margin: 0.5rem;
  width: 20rem;
  height: 2rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #f8f8f8;
  font-size: 1rem;
  padding: 0.5rem;
}

button {
  margin-top: 1em;
  border-radius: 1em;
  padding: 0.6em;
  border: none;
  color: white;
  background-color: #3dc4fc;
}
